node_modules/
dist/
release/
uploads/
mobile/android/app/build/
mobile/android/.gradle/
.env
.env.local
.env.*.local
config/*.json
npm-debug.log*

# wrangler files
.wrangler
.dev.vars*
!.dev.vars.example
!.env.example
